*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container_css {
    width: 700px;
    padding: 2rem;
}

.col_css {
    border-radius: 15px;
    padding: 5rem;
}

li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    background-color: aliceblue;
    max-width: 100%;
    margin-top: 1rem;
    margin-left: -2rem;
    padding-left: 1rem;
    border-radius: 5px;
    word-wrap: break-word;
}

span {
    display: block;
    word-wrap: break-word;
    width: 100%;
}

.check_x > button  {
    width: 28px;
    border-radius: 5px;
    margin-right: 0.1rem;
    margin-left: 0.5rem;
}

.done {
    text-decoration: line-through;
}

p {
    color: red;
}

  
